/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
}


/* CSS Variables */

:root {
    --navbar-height: 59px;
}


/* Navigation Bar */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 89%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0px;
    left: 0px;
}

#logo {
    margin: -29px 38px
}

#logo img {
    margin: 34px 3px;
    width: 81px;
    height: 67px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3 rem;
}

#navbar ul li a {
    display: block;
    color: white;
    padding: 3px 17px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#home {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
    height: 319px;
}

#home::before {
    content: "";
    background: url('../bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 53%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0px;
    left: 0px;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Baloo Bhai 2', cursive;
}


/* services section */

.services-container {
    display: block;
    width: 90%;
    margin: auto;
}

#services {
    margin: -1px;
    display: flex;
}

#services .box {
    border: 3px solid brown;
    padding: 33px;
    border-radius: 23px;
    margin: 3px 6px;
    background-color: rgb(245, 224, 227);
}

#services .box img {
    height: 160px;
    width: 293px;
    display: block;
    margin: auto;
}

#services-container h2 {
    height: 67px;
    font-size: 1.8rem;
    padding: 2px;
}

#card {
    margin: auto;
    width: 60%;
    border: 3px solid black;
    margin-top: 2rem;
}

#header {
    background-color: brown;
    color: white;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-content form {
    width: 60%;
    padding-bottom: 10px;
}

.contact-content input {
    width: 100%;
    padding: 0.5rem;
}

.contact-content textarea {
    width: 100%;
    padding: 0.5rem;
}

.contact-content button {
    display: block;
    margin: auto;
}

footer {
    margin-top: 20px;
    background-color: brown;
    /* height: 3.3rem; */
}

footer p {
    width: 30%;
    margin: auto;
    color: white;
}


/*utility classes */

.h-primary {
    font-size: 2.8rem;
    padding: 2px;
}

.btn {
    padding: 2px 11px;
    border: 2px solid black;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}

.h-secondary {
    font-size: -2.2rem;
    padding: 12px;
}